.comment {
    width: 90%;
    min-height: 100px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(15, 15, 15);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.commentDate{
    display: flex;
    justify-content: space-between;
}

.commentusername {
    color: orange;
    font-family: "Fira Code";
    font-size: 14px;
}

.commenttext {
    font-size: 14px;
    font-family: "Fira Code";
    color: whitesmoke;
    word-wrap: break-word;
}

.commentCreatedOn {
    font-family: "Fira Code";
    color: crimson;
    font-size: 10px;
}